replicaCount: 1

image:
  repository: modai-app
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: NodePort
  port: 5001

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific

resources: {}

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
